<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://cdn.edumx.com/ios/v2.04/bf62701415d811e7a04200163e2eb842.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://cdn.edumx.com/ios/images/Icon-iPhone-57%402x.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://cdn.edumx.com/ios/images/Icon-iPhone-57%402x.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.lexuetong.LXTStudent</string>
                <key>bundle-version</key>
                <string>2.04</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>思沃教育</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
